name: Playwright Tests
on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    
    - name: Checkout Juice Shop
      uses: actions/checkout@v4
      with:
        repository: juice-shop/juice-shop
        path: juice-shop
        
    - uses: actions/setup-node@v4
      with:
        node-version: lts/*
        
    - name: Install and Start Juice Shop
      working-directory: juice-shop
      run: |
        npm install
        npm start &
        npx wait-on http://localhost:3000
        
    - name: Install dependencies
      run: npm ci
      
    - name: Install Playwright Browsers
      run: npx playwright install --with-deps
      
    - name: Run Playwright tests
      run: npx playwright test
      env:
        BASE_URL: http://localhost:3000/
        
    - uses: actions/upload-artifact@v4
      if: ${{ !cancelled() }}
      with:
        name: playwright-report
        path: playwright-report/
        retention-days: 30
